[submodule "third-party/makeself"]
	path = third-party/makeself
	url = https://gitcode.com/cann-src-third-party/makeself.git
	branch = master
[submodule "third-party/libedit"]
	path = third-party/libedit
	url = https://gitcode.com/src-openeuler/libedit.git
	branch = openEuler-24.03-LTS-SP1-release
[submodule "third-party/ncurses"]
	path = third-party/ncurses
	url = https://gitcode.com/src-openeuler/ncurses.git
    branch = master
